# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ROS / colcon
log/
install/
build/
*.bag
*.db3

# OS / IDE
.DS_Store
.vscode/
.idea/

# Project logs & outputs
logs/
maps/*.pgm
maps/*.yaml
